<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="grid grid-3col">
                <div class="entry">
                    <label>Modifier:</label>
                    <span>{{ system.damage.modifierText }}</span>
                </div>
            </div>
        </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="bio">Biography</a>
        <a class="item" data-tab="traits">Traits</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="bio">
            {{> "systems/usr/templates/actor/parts/actor-biography.hbs"}}
        </div>

        {{!-- Traits Tab --}}
        <div class="tab traits" data-group="primary" data-tab="traits">
            {{> "systems/usr/templates/actor/parts/actor-traits.hbs"}}
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            {{> "systems/usr/templates/actor/parts/actor-combat.hbs"}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> "systems/usr/templates/actor/parts/actor-items.hbs"}}
        </div>

    </section>
</form>

