<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">
            {{ formula }}
        </div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{ dice.length }}{{ type }}</span>
                        <span class="part-total">{{successes}}</span>
                    </header>
                    <ol class="dice-rolls">
                        {{#each dice}}
                            <li class="roll die {{ ../type }}{{#if success }} success{{/if}}">{{ value }}</li>
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>
        <h4 class="dice-total">
            {{ total }}
        </h4>
    </div>
</div>
